<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css" integrity="sha384-PDle/QlgIONtM1aqA2Qemk5gPOE7wFq8+Em+G/hmo5Iq0CCmYZLv3fVRDJ4MMwEA" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/register.css" th:href="@{/css/register.css}">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet"> 
    <title>Arkhe | Register</title>
</head>
<body>
    <div class="main-container">

        <div class="form-container">
            <form id="registerForm" th:object="${form}" th:action="@{/register}" method="POST">        
                <label for="username" >Username: </label>
                <input type="text" name="username" th:field="*{username}" th:value="*{username}"/><br/>
        
                <label for="password">Password: </label>
                <input type="password" name="password" th:field="*{password}" th:value="*{password}"/><br/>
<!--
                <label for="confirm">Confirm password: </label>
                <input type="password" name="confirm"/><br/>
 
                <label for="firstName">First Name</label>
                <input type="text" name="firstName"/><br/>

                <label for="lastName">Last Name</label>
                <input type="text" name="lastName"/><br/> -->

                <input type="submit" class="btn btn-default btn-submit" value="Register"/>
            </form>
        </div>

    </div>
</body>
</html>